body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #2e224e;
    color: #e0d9c7;
}

header {
    background-color: #2e224e;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #e0d9c7;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #e0d9c7;
}

footer {
    background-color: #2e224e;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #d4a373;
}
